XGBoost 
the main advantage of Xgboost is its high speed compar to other algorithm 
It is parallel processing to increase the speed

xgboost handle missing value, you may may or may not do a separate treatment for the missing values because xgboost capable to handle missing value internally

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [1]:
from sklearn.model_selection import train_test_split as TTS
from sklearn.metrics import r2_score 
from sklearn.metrics import mean_squared_error as mse

In [89]:
import xgboost as xgb

In [13]:
df= pd.read_csv(r'E:\download\vehicles_data.csv')

In [14]:
df.head(4)

,Unnamed: 0,id,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,county,state,lat,long
0,55483,7315914053,0,2018.0,ram,promaster 2500,excellent,NaN,gas,44244.0,clean,automatic,NaN,NaN,van,NaN,NaN,ca,32.792800,-116.966500
1,162368,7310885048,13995,2017.0,mazda,cx-3,NaN,4 cylinders,gas,7037.0,rebuilt,automatic,NaN,NaN,SUV,white,NaN,ia,41.207382,-96.023096
2,234393,7308243856,19990,2019.0,mitsubishi,eclipse cross sp,good,NaN,gas,35313.0,clean,other,4wd,NaN,hatchback,white,NaN,nc,35.190000,-80.830000
3,276110,7315817729,0,2019.0,honda,cr-v,NaN,NaN,gas,25626.0,clean,automatic,NaN,NaN,SUV,orange,NaN,ny,40.854573,-74.120219

In [15]:
df.shape

(64032, 20)

In [17]:
df.drop(['Unnamed: 0','id','county','state','paint_color','size','lat','long'],axis=1,inplace=True)

In [18]:
df.head(2)

,price,year,manufacturer,model,condition,cylinders,fuel,odometer,title_status,transmission,drive,type
0,0,2018.0,ram,promaster 2500,excellent,NaN,gas,44244.0,clean,automatic,NaN,van
1,13995,2017.0,mazda,cx-3,NaN,4 cylinders,gas,7037.0,rebuilt,automatic,NaN,SUV

In [19]:
df.isnull().sum()  #  not possible to nulll value , so we remove them

price               0
year              158
manufacturer     2569
model             802
condition       26097
cylinders       26511
fuel              424
odometer          669
title_status     1222
transmission      353
drive           19471
type            13785
dtype: int64

In [20]:
#  drop all null value
d=df.dropna()

In [40]:
# checking information about dataset
d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19145 entries, 5 to 64031
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         19145 non-null  int64
 1   year          19145 non-null  float64
 2   manufacturer  19145 non-null  object
 3   model         19145 non-null  object
 4   condition     19145 non-null  object
 5   cylinders     19145 non-null  object
 6   fuel          19145 non-null  object
 7   odometer      19145 non-null  float64
 8   title_status  19145 non-null  object
 9   transmission  19145 non-null  object
 10  drive         19145 non-null  object
 11  type          19145 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 1.9+ MB

In [45]:
cat_colum= []

In [46]:
#  filter categorical features

numeric= ['int8','int16', 'int32', 'int64','float16','float32','float64']
feature= d.columns.values.tolist()
for col in feature:
    if d[col].dtype in numeric:
        continue
    cat_colum.append(col)

In [47]:
cat_colum

['manufacturer',
 'model',
 'condition',
 'cylinders',
 'fuel',
 'title_status',
 'transmission',
 'drive',
 'type']

In [48]:
# Encoding categorical colum into numeric with pandas, get_dummies method

df_dummies= pd.get_dummies(d[cat_colum])
df_dummies.head(2)

,manufacturer_acura,manufacturer_alfa-romeo,manufacturer_audi,manufacturer_bmw,manufacturer_buick,manufacturer_cadillac,manufacturer_chevrolet,manufacturer_chrysler,manufacturer_datsun,manufacturer_dodge,...,type_coupe,type_hatchback,type_mini-van,type_offroad,type_other,type_pickup,type_sedan,type_truck,type_van,type_wagon
5,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
9,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [49]:
df= d.join(df_dummies)

In [54]:
df.drop(columns=cat_colum, axis=1,inplace=True)

In [80]:
df1.reset_index(inplace=True)

In [74]:
df1=df[df['price']>=2000]
df1= df1[df1['price']<=35000]

In [75]:
df1.shape

(15784, 4501)

In [84]:
x= df1.iloc[:,2:]
y= df1.price

In [87]:
xtrain, xtest, ytrain, ytest= TTS(x,y, test_size=0.25, random_state=49)

In [90]:
xgb= xgb.XGBRegressor()

In [91]:
xgb.fit(xtrain,ytrain)

XGBRegressor(base_score=0.5, booster='gbtree', callbacks=None,
             colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
             early_stopping_rounds=None, enable_categorical=False,
             eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
             importance_type=None, interaction_constraints='',
             learning_rate=0.300000012, max_bin=256, max_cat_to_onehot=4,
             max_delta_step=0, max_depth=6, max_leaves=0, min_child_weight=1,
             missing=nan, monotone_constraints='()', n_estimators=100, n_jobs=0,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, ...)

In [92]:
#  training score
xgb.score(xtrain,ytrain)

0.904389841164073

In [93]:
# testing score
xgb.score(xtest,ytest)

0.8570477598423558

In [94]:
y_pred= xgb.predict(xtest)
r2_score(ytest,y_pred)

0.8570477598423558