In [2]:
#  10-04-2022

HYPOTHESIS
.MAKING A GUESS ( not wild guess) based on assumption without scientific proof or explaining situation 
based on reasonable assumption
. null hypothesis 'h0'
. alternate hypothesis 'ha'

STATISTICS TOOLS
. ttest
. Anova

In [4]:
import pandas as pd
hyp= pd.read_csv('https://raw.githubusercontent.com/training-ml/Files/main/Hypothesis%20ttest.csv')

In [6]:
hyp.to_csv('hypothesis.csv',index=False)

In [20]:
hyp.shape

(200, 11)

In [19]:
hyp.sample(4)

      ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
86   102       0     4    3       1     2    52     41     51     53   56
164  112       1     4    2       1     2    52     59     48     55   61
56    67       0     4    1       1     3    37     37     42     33   32
148    6       1     1    1       1     2    47     41     46     40   41

A teacher want to teach student for competetive exam she collected sample of tudents marks from different school based on her past experiance , she believe that these type of student score more than 60 mark in exam, now she want to conduct hypothesis test on the marks

In [ ]:
# h0  mu >= 60
# ha mu<= 60

In [7]:
hyp['Math1'].mean()

52.645

In [24]:
alpha= 0.05
xbar= 52.645
mu= 60

1 SAMPLE T TEST

In [9]:
import scipy.stats as st

In [25]:
# since we conducting test for one sample we will go for one sample ttest
st.ttest_1samp(hyp.Math1,mu)          # in resulr we interest  in  p_value

Ttest_1sampResult(statistic=-11.102736525713398, pvalue=1.3339158110547646e-22)

In [11]:
# when we run ttest , we get 2 value t statistics score and pvalue for two tail
# pvalue/2

In [12]:
s,p= st.ttest_1samp(hyp.Math1,mu)   #  p= p_value, if pvalue less than (alpha= 0.5) than reject the 
##  null hypothesis  (or  our assumptions)

In [14]:
print('statistics=',s)
print('p_value=',p)

statistics= -11.102736525713398
p_value= 1.3339158110547646e-22

2 SAMPLE T TEST
Independent sample
paired sample

In [26]:
hyp.head(3)

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31

In [27]:
hyp['Gender'].value_counts()

1    109
0     91
Name: Gender, dtype: int64

In [28]:
# how to subset the data on gender
hyp[hyp['Gender']==1].Math1.head()

1     53
92    65
93    52
94    46
95    61
Name: Math1, dtype: int64

In [30]:
# independent sample 
t,p= st.ttest_ind(hyp[hyp['Gender']==1].Math1, hyp[hyp['Gender']==0].Math1)

In [31]:
print('p_value=',p)   #  we get pvalue > than (alpha= 0.5), we failthe reject to the null hypothesis

p_value= 0.6800544974232143

In [33]:
# paired sample
t,p = st.ttest_rel(hyp.Math1, hyp.Math2)

In [34]:
# p_value
p

0.17676525605507354

There is an another test which is more than 2 sample test apply , but for each ttest we allow 5% error
so if we more 2 sample ttest we are adding 5% more error each extra sample ttest, in order to resolve this problem we go for ANOVA test (analysis of variance)

##  ANOVA ( analysis of variance)

# " " " ANOVA IS USED compare difference of means among more than 2 groups. 
# it does this by looking at varition in the data & where that variation is found specifically
# ANOVA compare the amount of variation between groups with the amount of variation within groups. " " "

# . null hypothesis typically is that all means are equal
# . the independent variable are equal
# . dependent variable are continues

# -  F VALUE 
# - F = sample means of between groups/smaple means of within groups

In [35]:
marks={'A':[82,83,97],'B':[83,78,68],'C':[38,59,55]}
df= pd.DataFrame(marks, index=['st1 Maths','st2 Maths','st3 Maths'])

In [36]:
df

            A   B   C
st1 Maths  82  83  38
st2 Maths  83  78  59
st3 Maths  97  68  55

In [37]:
# partition the total variation in the data into variation between group and variance within groups.

# - HYPOTHESIS CONSTRUCTION
# THE NULL HYPOTHESIS (Ho) for anova says that average of dependent variable are same for all the given groups
# alternate hypothesis (Ha)  says means of dependent vraiable(DV) are not same for the given groups

# Ho: muA= muB =muC
# Ha : not all equal

In [ ]:
#  1 calculate mean of each semester
# 2 calculate grand mean
# 3 variations Between , Within
# 4 calculate the mean squared variance of Between and Within
# 5 calculate F- statistics and corresponding p-value

In [43]:
# step1 calculate the mean of ech school
scholA= df['A'].mean()
scholB= df['B'].mean()
scholC= df['C'].mean()
print('scholA = ', round(scholA,2))
print('scholB = ', round(scholB,2))
print('scholC = ',round(scholC,2))

scholA =  87.33
scholB =  76.33
scholC =  50.67

In [45]:
# step 2 calculate the grand mean
schol_grand= (scholA+ scholB+scholC)/3
print('grand mean==', round(schol_grand,2))

grand mean== 71.44

In [47]:
#######          1 st  METHOD    ######
# step 3 Variation between, within and totol
# sum of squared (ss) deviation about grand mean.
# ss total/=  (71.44-82)**2 +(71.44-83)**2 +(71.44-97)**2 +(71.44-83)**2 +(71.44-78)**2 +
#                 (71.44-968)**2 +(71.44-38)**2 +(71.44-59)**2 +(71.44-55)**2  =
##   ss_total= 2630.2

##### ss_within######
#    (87.3-82)**2 +(87.3-83)**2 +(87.3-97)**2 +
#    (76.3-83)**2 +(76.3-78)**2 +(76.3-68)**2 +
#    (50.6-38)**2 +(50.6-59)**2 +(50.6-55)**2 +
#  SS_WITHIN== 506

######  ss_between #####
##  (gran_mean - group A mean)**2 multipy by 3    ,( 3 is the no times of student in all groups)
##   (gran_mean - group A mean)**2 multipy by 3 
##   (gran_mean - group A mean)**2 multipy by 3 
#  ss_between== 2124.2

In [48]:
#  Find the degree of freedom
# defr_total= number of observation - 1= 9-1= 8 ,   defr_total==8
# defr_between= number of groups -1= 3-1  = 2
# defr_within= no. of observation - no. of groups= 9-3= 6
#

  step 4 calculate the mean squared variance
#  mean_betw_gr= ss_between/defr_between == 1062.1
#  mean_within_gr= ss_within/defr_with  == 84.33

  step 5 calculate F statistics
 # f_value= mean_betw_gr/mean_within_gr == 12.59
   ......and complete this all last we  calculate p_value from f_table..

In [49]:
#  p_ value less than alpha(0.05) , we can rejecting null hypothesis

In [52]:
#   USING PYTHON

In [54]:
hyp.head(3)

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31

In [55]:
# As per ANOVA WE NEED to find continues data based on the categorical variable
# .Math1 is continues variable and 'prog' is categorical variable

In [62]:
# ##  2nd  METHOD  ###### 
import statsmodels.formula.api as sm
import statsmodels.api as k

In [63]:
mod= sm.ols('Math1~Prog', data= hyp).fit()
anova_table= k.stats.anova_lm(mod)
anova_table

             df        sum_sq     mean_sq         F    PR(>F)
Prog        1.0    393.527279  393.527279  4.564033  0.033878
Residual  198.0  17072.267721   86.223574       NaN       NaN

in table show 
prog = between
residual= within
sum_sq= sum(mean-x)*2
prog-mean-sq= ss_between/df_between
residual-mean_sq= ss_within/df_within
f value= between-mean_sq/within-mean_sq
pr= p value  #  only important p_value 
we get pvalue less than alpha so we reject the null hypothesis

In [ ]:
#  we get pvalue less than alpha so we reject the null hypothesis

In [5]:
import pandas as pd 
import numpy as np

In [6]:
hyp=pd.read_csv(r'https://raw.githubusercontent.com/training-ml/Files/main/Semester%20marks.csv')

In [13]:
hyp.head()

   Student_ID  Semester  Total_Marks
0           1         1          365
1           2         3          376
2           3         1          411
3           4         3          436
4           5         2          366

In [ ]:
# - as per  ANOVA we need to find continues data baed on the categorical variable
#. total-marks is continues variable and
#. semester is categorical variable

In [14]:
#  Ho is Average mark of each semester are almost equal.
#  Ha is all are not equal

In [18]:
#  pip install statsmodels

In [17]:
import statsmodels.formula.api as sm

In [20]:
mod= sm.ols('Total_Marks ~ Semester' , data= hyp).fit()  # ols= ordinary least square

In [21]:
mod

In [22]:
import statsmodels.api as k

In [23]:
aov=k.stats.anova_lm(mod,type=1)

In [24]:
aov

             df         sum_sq      mean_sq         F    PR(>F)
Semester    1.0     291.846746   291.846746  0.102572  0.749102
Residual  198.0  563366.873254  2845.287239       NaN       NaN

In [25]:
#  LET'S SEE MANUALY if the average marks of each semester are close to each other

In [33]:
# semster 1 average marks
x= np.ceil(hyp['Total_Marks'][hyp['Semester'] == 1].mean())
x

403.0

In [53]:
print('1st semester =', np.ceil(hyp['Total_Marks'][hyp['Semester'] == 1].mean()))
print('2nd semester =', np.ceil(hyp['Total_Marks'][hyp['Semester'] == 2].mean()))
print('3rd semester =', np.ceil(hyp['Total_Marks'][hyp['Semester'] == 3].mean()))

1st semester = 403.0
2nd semester = 393.0
3rd semester = 406.0

In [49]:
# testing purpose 1
#  np.ceil(hyp.groupby('Semester').mean())

          Student_ID  Total_Marks
Semester
1              101.0        403.0
2              101.0        393.0
3              101.0        406.0

In [50]:
# only for testing purpose 2
#  np.ceil(hyp[(hyp['Semester']== 1)].mean())

Student_ID     101.0
Semester         1.0
Total_Marks    403.0
dtype: float64

In [ ]:
#  - REALTIME RESEARCH ON HUMAN BODY
# '' if different types of drinks ( coffrr ,water , milk,    soda , etc) have the same effect (reaction time in the morning)
#   on the human body ''

#. Ho= all the drinks average reaction time on human body is same
#. Ha= all the drinks average reaction time on human body is not same